[Unit]
Description=Bluetooth Backup Timer
Requires=bluetooth-auto-backup.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target